<title>Theatrics</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
<meta name="theme-color" content="#EEEEEE">
<link rel="stylesheet" href="/static/index<% if (min) { %>.min<% } %>.css" type="text/css">
<link rel="dns-prefetch" href="//kudago.com">
<script defer src="/static/index<% if (min) { %>.min<% } %>.js"></script>
<div id="container">
  <header class="content-container unconstrained" id="header-container">
    <div id="header">
      <h1 id="logo"><a href="/">Theatrics</a></h1>
      <nav id="city" hidden></nav>
    </div>
  </header>
  <main id="view-container"></main>
  <footer id="footer" class="content-container unconstrained">
    <p>
      <span class="footer-icon icon-heart"></span>
      <span class="footer-text">
        Сделано <nobr>с любовью</nobr> <nobr>в Санкт-Петербурге</nobr>, <nobr>2015–<%= buildDate.getFullYear() %></nobr>.
      </span>
    </p>
    <p>
      <span class="footer-icon icon-octocat"></span>
      <span class="footer-text">
        <a href="<%- repositoryURL %>" target="_blank">Открытый исходный код</a>.
      </span>
    </p>
  </footer>
</div>
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "WebSite",
  "name" : "Theatrics",
  "url" : "http://theatrics.plansfortheday.org/"
}
</script>
