body {
  background: white;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: Times, sans-serif;
}


/* Main container */

#container {
  min-width: 290px;
}

@media (max-width: 359px) {
  #container {
    width: auto;
    margin: 15px;
  }
}

@media (min-width: 360px) and (max-width: 719px) {
  #container {
    width: 300px;
    margin: 30px auto;
  }
}

@media (min-width: 720px) {
  #container {
    width: 660px;
    margin: 60px auto;
  }
}

@media (min-width: 1080px) {
  #container {
    width: 1020px;
  }
}

@media (min-width: 1440px) {
  #container {
    width: 1380px;
  }
}


/* Header */

#header {
  color: #aaa;
  white-space: nowrap;
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  display: inline;
  font-size: 140%;
  font-weight: bolder;
  text-transform: uppercase;
  color: #aaa;
  vertical-align: middle;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
}

#header-separator {
  border-left: 1px solid silver;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  margin: 0 12px 0 7px;
}

#city {
  display: inline-block;
  vertical-align: middle;
}

#city select {
  margin: 0;
}

@media (max-width: 719px) {
  #header {
    margin: 10px 0;
    text-align: left;
    justify-content: space-between;
  }

  #header-separator {
    margin: 0;
  }

  #logo {
    letter-spacing: 2px;
  }
}


/* Calendar */

.calendar {
  list-style-type: none;
  margin: 30px 0 60px 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
}

.calendar-day {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

.calendar-day a {
  display: block;
  padding: 5px 10px;
  color: black;
  text-decoration: underline;
}

.calendar-day a:hover {
  color: gray;
}

.calendar-day.active a {
  text-decoration: none;
  cursor: default;
  font-weight: bolder;
}

.calendar-day.active a:hover { color: black; }

@media (max-width: 359px) {
  .calendar {
    margin: 10px -10px 20px -10px;
  }

  .calendar-day a {
    padding: 5px 8px;
  }
}

@media (min-width: 360px) and (max-width: 719px) {
  .calendar {
    margin: 10px -10px 30px -10px;
  }

  .calendar-day a {
    padding: 5px 9px;
  }
}

@media (max-width: 719px) {
  .calendar-day:nth-child(n+8) {
    display: none;
  }
}

@media (max-width: 1079px) {
  .calendar-day:nth-child(n+15) {
    display: none;
  }
}


/* Feed */

.feed-container {
  margin: 30px 0;
}

.list {
  list-style-type: none;
  margin: -30px;
  padding: 0;
  overflow: hidden;
}

.list-item {
  margin: 30px;
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

.list-image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-image {
  flex-shrink: 0;
  max-height: 100%;
}

.load-more-container {
  text-align: center;
  margin: 60px 0 40px;
}

.load-more-button {
  display: inline-block;
  padding: 20px 30px;
  border: 1px solid gray;
  text-transform: uppercase;
  text-decoration: none;
  color: #444;
  letter-spacing: 1px;
}

.load-more-button:hover {
  background: #f5f5f5;
}


@media (max-width: 719px) {
  .feed-container {
    margin: 15px 0;
  }

  .list {
    margin: -25px -15px;
  }

  .list-item {
    margin: 25px 15px;
    display: block;
    width: auto;
  }

  .load-more-container {
    margin: 30px 0;
  }
}


/* Items */

.item-header {
  font-size: 140%;
  margin: 20px 0 10px 0;
}

.tagline {
  margin: 10px 0;
}

.place {
  margin-top: 10px;
  font-size: 11px;
  color: gray;
  text-transform: uppercase;
  font-family: sans-serif;
}

@media (max-width: 719px) {
  .item-header {
    margin: 15px 0 7px 0;
  }

  .tagline {
    margin: 7px 0;
  }
}
