body {
  background: white;
  margin: 60px 30px;
  font-size: 16px;
  font-family: Times, sans-serif;
}

#header {
  color: #aaa;
  text-align: center;
  margin: 20px;
}

#header h1 {
  display: inline;
  font-size: 140%;
  font-weight: bolder;
  text-transform: uppercase;
  color: #aaa;
  letter-spacing: 5px;
  vertical-align: middle;
}

#header .city {
  display: inline-block;
  vertical-align: middle;
  padding-left: 13px;
  margin-left: 5px;
  border-left: 1px solid silver;
}

h2 {
  font-size: 140%;
}

#container {
  width: 1020px;
  margin: 60px auto;
}

.calendar {
  list-style-type: none;
  margin: 40px 0;
  padding: 0;
  text-align: center;
}

.calendar-day {
  display: inline-block;
  padding: 0;
  vertical-align: middle;
}

.calendar-day a {
  display: block;
  padding: 5px 10px;
  color: black;
  text-decoration: underline;
}

.calendar-day a:hover {
  color: gray;
}

.calendar-day.active a {
  text-decoration: none;
  cursor: default;
  font-weight: bolder;
}

.calendar-day.active a:hover { color: black; }

.list {
  list-style-type: none;
  margin: 30px -30px;
  padding: 0;
}

.list-item {
  margin: 30px;
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

.list-image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-image {
  flex-shrink: 0;
  max-height: 100%;
}

.load-more-container {
  text-align: center;
  margin: 30px 0;
}

.load-more-button {
  display: inline-block;
  padding: 20px 30px;
  border: 1px solid gray;
  text-transform: uppercase;
  text-decoration: none;
  color: #444;
  letter-spacing: 1px;
}

.load-more-button:hover {
  background: #f5f5f5;
}
