@import 'fonts.css';
@import 'icons.css';
@import 'animations.css';

body {
  background: white;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  min-height: 100%;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: gray;
}

a .link-text {
  border-bottom: 1px solid #bbb;
}

a:hover .link-text {
  border-bottom: 1px solid #ddd;
}

p {
  margin: 0 0 20px 0;
}

.special_links {
  display: none;
}


/* Loader */

.loader {
  display: inline-block;
  width: 24px;
  height: 24px;
  animation: rotate 0.5s linear infinite;
}

.loader circle {
  stroke: #444;
  transition: stroke-dashoffset 0.2s;
  stroke-width: 20;
  stroke-dashoffset: 0;
}


/* Big loader with backdrop */

.big-loader-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}

.big-loader-container .loader {
  border-radius: 50%;
  background: white;
  position: absolute;
}

@media (max-width: 1139px) {
  .big-loader-container .loader {
    width: 30px;
    height: 30px;
    padding: 15px;
    top: 70px;
    left: 50%;
    margin-left: -30px;
  }
  .big-loader-container .loader circle { stroke-width: 13; }
}

@media (min-width: 1140px) {
  .big-loader-container .loader {
    width: 40px;
    height: 40px;
    padding: 20px;
    top: 60px;
    left: 50%;
    margin-left: -40px;
  }
  .big-loader-container .loader circle { stroke-width: 11; }
}



/* Main container */

#container {
  min-width: 290px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-sizing: border-box;
}

@media (max-width: 329px) {
  #container { padding: 20px 15px; }
}

@media (min-width: 330px) and (max-width: 359px) {
  #container { width: 300px; padding: 20px 0; margin: 0 auto; }
}

@media (min-width: 360px) and (max-width: 719px) {
  #container { padding: 30px; }
}

@media (min-width: 720px) and (max-width: 1139px) {
  #container { padding: 45px; }
}

@media (min-width: 1140px) {
  #container { padding: 60px; }
}

.nav-container {
  width: auto;
}

@media (min-width: 360px) and (max-width: 719px) {
  .nav-container {
    width: 300px;
    margin: 0 auto;
  }
}


/* Header */

#header-container {
  flex: 0 1 auto;
}

#header {
  color: #aaa;
  white-space: nowrap;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
}

#logo {
  font-size: 22px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  vertical-align: middle;
  letter-spacing: 7px;
  margin: 0;
  padding: 0;
  font-family: Liberation Serif, Times New Roman, serif;
}

#logo a {
  color: #444;
}

#logo a:hover {
  color: #888;
}

#city {
  margin-left: 20px;
}

#city select {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 0px 2px;
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
}

@media (max-width: 359px) {
  #header {
    text-align: left;
    justify-content: space-between;
  }

  #logo {
    letter-spacing: 2.5px;
  }

  #city {
    margin-left: 0;
  }
}

@media (min-width: 360px) and (max-width: 719px) {
  #header {
    text-align: left;
    justify-content: space-between;
  }

  #logo {
    letter-spacing: 4px;
  }

  #city {
    margin-left: 10px;
  }
}


/* View container */

#view-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

#view-container > * {
  flex: 1 0 auto;
}

@media (max-width: 359px) {
  #view-container { margin: 20px 0; }
}

@media (min-width: 360px) and (max-width: 719px) {
  #view-container { margin: 25px 0 30px 0; }
}

@media (min-width: 720px) and (max-width: 1139px) {
  #view-container { margin: 35px 0 45px 0; }
}

@media (min-width: 1140px) {
  #view-container { margin: 45px 0 60px 0; }
}


/* Footer */

#footer {
  flex: 0 1 auto;
  margin: 0;
  color: #444;
  text-align: center;
  font-size: 12px;
  line-height: 2em;
}

#footer a {
  color: #444;
  text-decoration: underline;
}

#footer .icon-heart {
  font-size: 10px;
  color: red;
  margin-right: 5px;
}


/* Not found view */

.not-found-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eee;
}

.not-found-message {
  padding: 30px;
}


.not-found-message a {
  text-decoration: underline;
}

.not-found-message p {
  margin: 0;
}

.not-found-message h2 {
  font-size: 36px;
  margin: 0 0 20px 0;
}

.not-found-message .tagline {
  font-weight: normal;
  font-size: 20px;
}

/* Events view */

.events-view {
  display: flex;
  flex-direction: column;
}

.events-view .calendar-container { flex: 0 1 auto; }
.events-view .feed-container { flex: 1 0 auto; }


/* Calendar */

.calendar {
  flex: 0 1 auto;
  list-style-type: none;
  margin: -5px 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.calendar-day {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  position: relative;
  line-height: 1.2;
}

.calendar-day.any {
  line-height: 2.4;
}

.calendar-day a {
  display: block;
  padding: 5px 10px;
}

.calendar-day.active::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 9px;
  height: 2px;
  background: black;
}

.calendar-day.active a {
  cursor: default;
  font-weight: bolder;
}

.calendar-day.active a:hover {
  color: black;
}

@media (max-width: 359px) {
  .calendar-container { margin-bottom: 20px; }
}

@media (min-width: 360px) and (max-width: 719px) {
  .calendar-container { margin-bottom: 25px; }
}

@media (min-width: 720px) and (max-width: 1139px) {
  .calendar-container { margin-bottom: 35px; }
}

@media (min-width: 1140px) {
  .calendar-container { margin-bottom: 50px; }
}

@media (max-width: 719px) {
  .calendar {
    margin: -5px -9px;
  }

  .calendar-day {
    flex: auto;
  }

  .calendar-day a {
    padding: 5px 0;
  }

  .calendar-day:nth-child(n+8) {
    display: none;
  }
}

@media (max-width: 1139px) {
  .calendar-day:nth-child(n+15) {
    display: none;
  }
}


/* Feed */

.feed-container {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  min-height: 200px;
}

.feed {
  list-style-type: none;
  margin: -30px;
  padding: 0;
  overflow: hidden;
}

.feed-item {
  margin: 30px;
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

.feed-image-container {
  width: 100%;
  height: 200px;
}

.feed-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.load-more-container {
  text-align: center;
  position: relative;
}

.load-more-button {
  display: inline-block;
  padding: 20px 30px;
  border: 1px solid gray;
  text-decoration: none;
  background: white;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 0;
}

.load-more-button:hover {
  background: #f5f5f5;
}

.load-more-container .loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

.load-more-container.loading .load-more-button { visibility: hidden; }
.load-more-container.loading .loader { display: block; }

.nothing-at-all {
  font-size: 24px;
  height: 24px;
  line-height: 24px;
  color: gray;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -12px;
}

@media (max-width: 359px) {
  .feed-container { width: auto; }
  .load-more-container { margin-top: 20px; }
}

@media (min-width: 360px) and (max-width: 719px) {
  .feed-container { width: 300px; }
  .load-more-container { margin-top: 30px; }
}

@media (max-width: 719px) {
  .feed {
    margin: 0 -15px;
  }

  .feed-item {
    margin: 25px 15px;
    display: block;
    width: auto;
  }

  .feed-item:first-child {
    margin-top: 0;
  }

  .feed-item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 720px) and (max-width: 1139px) {
  .feed-container { width: 630px; }

  .feed {
    margin: -15px;
  }

  .feed-item {
    margin: 15px;
  }

  .load-more-container { margin-top: 45px; }
}

@media (min-width: 1140px) {
  .feed-container { width: 1020px; }
  .load-more-container { margin-top: 60px; }
}


/* Items */

.item-header {
  font-size: 150%;
  margin: 20px 0 11px 0;
}

.tagline {
  margin: 11px 0;
}

.place {
  margin-top: 14px;
  font-size: 11px;
  color: gray;
  text-transform: uppercase;
  line-height: 1.7em;
}

.place a {
  color: #888;
  display: block;
  padding: 2.5px 5px;
  margin: -2.5px -5px;
}

.place a:hover { color: #aaa; }
.place .link-text { border-color: #ddd; }

@media (max-width: 1139px) {
  .item-header {
    margin: 14px 0 6px 0;
  }

  .tagline {
    margin: 6px 0;
  }

  .place {
    margin-top: 8px;
  }
}


/* Item */

.item-view {
  position: relative;
}

.item-view-inner {
  margin: 0 auto;
}

.item-slider {
  position: relative;
  overflow-x: hidden;
}

.item-slider .slide-button {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 25%;
  height: 100%;
  cursor: pointer;
  -webkit-user-select: none;
  display: none;
}

.item-slider:hover .slide-button {
  display: block;
}

.item-slider:hover .slide-button[hidden] {
  display: none;
}

.item-slider .slide-button span {
  position: absolute;
  top: 50%;
  border-radius: 100%;
  background: white;
  box-sizing: border-box;
  text-align: center;
}

.item-slider.touchable:hover .slide-button {
  display: none;
}

.item-slider .next-button { right: 0px; }
.item-slider .previous-button { left: 0px; }

.item-slide-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  transition: transform 0.25s;
}

.item-slider.touching .item-slide-list { transition: none; }

.item-slide {
  padding: 0;
  margin: 0 15px;
  flex: 0 0 auto;
}

.item-slide:first-child { margin-left: 0; }
.item-slide:last-child { margin-right: 0; }

.item-slide-image {
  object-fit: cover;
  vertical-align: top;
  height: 100%;
}

.big-item-title {
  font-size: 220%;
  margin: 0 0 20px 0;
}

.big-item-title:first-child {
  margin-top: 0;
}

.big-item-tagline {
  font-family: Liberation Serif, Times New Roman, serif;
  font-weight: normal;
  margin-left: 5px;
  font-size: 90%;
}

.item-information {
  font-size: 110%;
  margin: 30px 0;
  display: flex;
  flex-direction: row;
}

.item-information-group {
  flex: 1 1 auto;
  margin-right: 20px;
}

.item-information-group:last-child { margin: 0; }

.item-information-item {
  margin: 20px 0;
  display: flex;
  align-items: flex-start;
  line-height: 24px;
}

.item-information-item:first-child { margin-top: 0; }
.item-information-item:last-child { margin-bottom: 0; }

.item-information-icon {
  font-size: 16px;
  width: 16px;
  margin-right: 20px;
  flex: 0 0 auto;
  text-align: center;
  line-height: inherit;
  box-sizing: border-box;
}


.item-information-icon.icon-calendar {
  font-size: 14px;
}

.item-information-icon.icon-subway {
  font-size: 14px;
}

.place-information .item-information-icon {
  margin-right: 15px;
}

.place-information .map-link {
  display: inline-block;
  padding: 2.5px 5px;
  margin: -2.5px -5px;
}

.place-information .map-link .link-text {
  border-bottom-style: dashed;
}

.item-description {
  font-size: 20px;
}

.item-text {
  font-size: 17px;
  font-family: Liberation Serif, Times New Roman, serif;
}

.item-place {
  font-weight: bolder;
}

.item-place a {
  padding: 2.5px 5px;
  margin: -2.5px -5px;
}

.item-place .link-text {
  padding-bottom: 1px;
}

.item-dates {
  list-style: none;
  padding: 0;
  margin: -6px -12px;
  display: flex;
  flex-flow: row wrap;
  font-size: 17px;
  flex: 0 1 auto;
}

.item-dates > li {
  margin: 6px 12px;
  white-space: nowrap;
  width: 100px;
}

.item-dates > li.double-size {
  width: 224px;
}

.item-date {
  display: inline-block;
  vertical-align: top;
}

.item-day-of-week {
  font-size: 12px;
  margin: 0 0 2px 0;
  color: #333;
  line-height: normal;
}

.item-time {
  font-size: 14px;
  color: #333;
  line-height: normal;
}

.source-information {
  margin-top: 30px;
  font-size: 12px;
  color: #444;
}

.source-information a {
  color: #444;
  text-decoration: underline;
}

@media (max-width: 359px) {
  .item-view-inner { width: 100%; }
  .item-slider { margin: 0 -15px 15px -15px; }
  .item-slide-list { margin: 0 15px; }
  .item-slide { height: 200px; margin: 0 2.5px; }
  .item-slide-image { min-width: 200px; max-width: 290px; }
}

@media (min-width: 360px) and (max-width: 719px) {
  .item-view-inner { width: 100%; }
  .item-slider { margin: 0 -30px 25px -30px; }
  .item-slide-list { margin: 0 30px; }
  .item-slide { margin: 0 5px; }
}

@media (min-width: 360px) and (max-width: 450px) {
  .item-view-inner { width: 300px; }
  .item-slide-list { margin: 0; }
}

@media (min-width: 360px) and (max-width: 574px) {
  .item-slide { height: 200px; }
  .item-slide-image { min-width: 200px; max-width: 300px; }
}

@media (min-width: 575px) and (max-width: 719px) {
  .item-slide { height: 250px; }
  .item-slide-image { min-width: 250px; }
}

@media (max-width: 450px) {
  .item-information {
    flex-direction: column;
  }

  .item-information-group {
    flex-basis: auto;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .item-information-group:last-child { margin: 0; }
}

@media (max-width: 719px) {
  .big-item-title {
    font-size: 180%;
    margin-bottom: 10px;
  }

  .big-item-tagline {
    display: block;
    margin: 5px 0;
    font-size: 80%;
  }

  .item-information {
    margin: 20px 0;
  }

  .item-information-item {
    margin: 15px 0;
  }

  .item-information-icon {
    margin-right: 15px;
  }

  .item-dates {
    margin: -6px;
  }

  .item-dates > li {
    margin: 6px;
  }

  .item-dates > li.double-size {
    width: 212px;
  }

  .item-slider .slide-button span {
    font-size: 15px;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    line-height: 40px;
  }

  .item-slider .next-button span { right: 5px; }
  .item-slider .previous-button span { left: 5px; }
}

@media (min-width: 720px) and (max-width: 1139px) {
  .item-view-inner { width: 600px; }
  .item-slider { margin: 0 -45px 35px -45px; }
  .item-slide { height: 350px; }
  .item-slide-image { min-width: 350px; }

  .item-slider .slide-button span {
    font-size: 25px;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    line-height: 60px;
  }

  .item-slider .next-button span { right: 50px; }
  .item-slider .previous-button span { left: 50px; }
}

@media (min-width: 1140px) {
  .item-view-inner { width: 750px; }
  .item-slider { margin: 0 -60px 35px -60px; }
  .item-slide { height: 500px; }
  .item-slide-image { min-width: 500px; }

  .item-slider .slide-button span {
    font-size: 35px;
    height: 80px;
    width: 80px;
    top: 50%;
    margin-top: -40px;
    line-height: 80px;
  }

  .item-slider .next-button span { right: 60px; }
  .item-slider .previous-button span { left: 60px; }
}
