<p>
  К сожалению, у нас нет информации об афише этого места 😞
</p>

<% if (place.data.foreign_url) { %>
<p>
  Возможно, она есть на <a href="<%- place.data.foreign_url %>" target="_blank"><span class="link-text">сайте театра</span></a>.
</p>
<% } %>