<div class="search-view content-container">
  <div class="search-feed"
       data-items-container=".search-results"
       data-no-items-message=".no-results"
       data-loader=".big-loader-container">
    <ol class="search-results" hidden></ol>
    <div class="nothing-at-all no-results" hidden>ะะธัะตะณะพ ะฝะต ะฝะฐะนะดะตะฝะพ ๐</div>
    <div class="nothing-at-all no-query" hidden>ะะตั ะทะฐะฟัะพัะฐ โยะฝะตั ะพัะฒะตัะฐ ๐</div>
    <%= bigLoader() %>
  </div>
</div>
