<li class="feed-item">
  <a href="<%- app.resolver.reverse('place', {id: item.id}) %>" class="feed-item-link">
    <div class="feed-image-container">
      <img data-src="<%- item.images[0].thumbnails['640x384'] %>" class="feed-image lazyload"/>
    </div>
    <h2 class="item-header">
      <%- capfirst(item.title) %>
    </h2>
  </a>
  <div class="tagline"><%- item.address %></div>
</li>