<article class="not-found-view">
  <div class="not-found-message">
    <h1>
      404 <span class="tagline">Здесь нет такой страницы</span>
    </h1>
    <p>
      Но вообще есть замечательные <a href="/">спектакли</a>
    </p>
  </div>
</article>
