<title>Theatrics</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
<meta name="application-name" content="Theatrics"/>
<meta name="theme-color" content="#EEEEEE">
<meta name="msapplication-TileColor" content="#FFFFFF"/>
<meta name="msapplication-TileImage" content="/static/icons/mstile-144x144.png"/>

<link rel="stylesheet" href="/static/index<% if (min) { %>.min<% } %>.css" type="text/css">

<link rel="dns-prefetch" href="//kudago.com">

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/static/icons/apple-touch-icon-57x57.png"/>
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/icons/apple-touch-icon-114x114.png"/>
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/icons/apple-touch-icon-72x72.png"/>
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/icons/apple-touch-icon-144x144.png"/>
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/icons/apple-touch-icon-120x120.png"/>
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/icons/apple-touch-icon-152x152.png"/>
<link rel="icon" type="image/png" href="/static/icons/favicon-196x196.png" sizes="196x196"/>
<link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="/static/icons/favicon-16x16.png" sizes="16x16"/>

<script defer src="https://cdn.polyfill.io/v2/polyfill.js?features=Intl.~locale.ru,es5,requestAnimationFrame,String.prototype.startsWith,String.prototype.endsWith,String.prototype.includes,Object.assign&gated=1"></script>
<script defer src="/static/index<% if (min) { %>.min<% } %>.js"></script>

<div id="container">
  <header class="content-container unconstrained" id="header-container">
    <div id="header">
      <h1 id="logo"><a href="/">Theatrics</a></h1>
      <nav id="city" hidden></nav>
    </div>
  </header>
  <main id="view-container"></main>
  <footer id="footer" class="content-container unconstrained">
    <p>
      <span class="footer-icon icon-heart"></span>
      <span class="footer-text">
        Сделано <nobr>с любовью</nobr> <nobr>в Санкт-Петербурге</nobr>, <nobr>2015–<%= buildDate.getFullYear() %></nobr>.
      </span>
    </p>
    <p>
      <span class="footer-icon icon-octocat"></span>
      <span class="footer-text">
        <a href="<%- repositoryURL %>" target="_blank">
          <span class="link-text">Открытый исходный код</span>
          <span class="icon-external-link"></span></a>.
      </span>
    </p>
  </footer>
</div>

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "WebSite",
  "name" : "Theatrics",
  "url" : "http://theatrics.ru/"
}
</script>
