<select>
  <% locations.forEach(function(location) { %>
    <option value="<%- url(targetRoute.name, merge(targetRoute.args, {location: location.slug})) %>"<% if (location.slug == currentLocation.slug) { %> selected<% } %>>
      <%- location.name %>
    </option>
  <% }) %>
</select>