<select>
  <% locations.forEach(function(location) { %>
    <option value="<%- url(targetRouteName, {location: location.slug}) %>"<% if (location.slug == currentLocation.slug) { %> selected<% } %>>
      <%- location.name %>
    </option>
  <% }) %>
</select>