<form action="/search/" method="GET"<% if (query) { %> class="active"<% } %>>
    <input type="text" placeholder="Поиск" name="q" autocomplete="off" value="<%- query %>" <% if (query) { %>autofocus<% } %>/>
    <span class="icon-search"></span>
</form>
