@import 'fonts.css';
@import 'icons.css';
@import 'animations.css';

body {
  background: white;
  overflow-x: hidden;  /* firefox doesn't like invisible items sticking out */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  height: 100%;
  min-height: 100%;
  color: black;
}

section, article, aside, footer, header, nav {
  display: block;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: gray;
}

a .link-text {
  border-bottom: 1px solid #bbb;
}

a:hover .link-text {
  border-bottom: 1px solid #ddd;
}

a .icon-external-link {
  font-size: 0.8em;
  color: #555;
  display: inline-block;
  margin-bottom: 1px;
  vertical-align: text-bottom;
}

p {
  margin: 0 0 20px 0;
}

.special_links {
  display: none;
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 200ms;
}

.past, .past div, .past span, .past a { color: #777; }
.past img { filter: grayscale() opacity(0.9); }
.past a:hover .link-text { color: #999; }
.past .link-text { border-color: #ccc; }
.past .badge { filter: grayscale(); color: white; }
.past .age-restriction-badge { color: #888; }

.unbreakable { white-space: nowrap; }


/* Popup */

.popup-box {
  transition: visibility 0s;  /* make the popup visible immediately */
}

.popup-box[hidden] {
  display: block;
  visibility: hidden;
  pointer-events: none;
  transition: visibility 0.15s;
}

.popup-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: -200px;  /* compensate for browser address bar on mobile */
  bottom: -200px;
  z-index: -1;
  background: transparent;
}

@media (max-width: 450px), (max-height: 450px) {
  .popup-backdrop {
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.15s;
  }

  .popup-box[hidden] .popup-backdrop {
    opacity: 0;
  }
}


/* Loader */

.loader {
  display: inline-block;
  width: 24px;
  height: 24px;
  animation: rotate 0.5s linear infinite;
}

.loader circle {
  stroke: #444;
  transition: stroke-dashoffset 0.2s;
  stroke-width: 20;
  stroke-dashoffset: 0;
}


/* Big loader with backdrop */

.big-loader-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}

.big-loader-container .loader {
  border-radius: 50%;
  background: white;
  position: absolute;
}

@media (max-width: 1139px) {
  .big-loader-container .loader {
    width: 30px;
    height: 30px;
    padding: 15px;
    top: 70px;
    left: 50%;
    margin-left: -30px;
  }
  .big-loader-container .loader circle { stroke-width: 13; }
}

@media (min-width: 1140px) {
  .big-loader-container .loader {
    width: 40px;
    height: 40px;
    padding: 20px;
    top: 60px;
    left: 50%;
    margin-left: -40px;
  }
  .big-loader-container .loader circle { stroke-width: 11; }
}



/* Main container */

#container {
  min-width: 320px;
  max-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.content-container {
  margin: 0 auto;
  width: 630px;
}

.content-container.unconstrained {
  width: auto;
}

.content-container.unpadded {
  padding: 0;
}

@media (max-width: 689px) {
  .content-container {
    width: auto;
    margin: 0;
  }
}

@media (max-width: 359px) {
  #container { padding: 20px 0; }
  .content-container { padding: 0 15px; }
}

@media (min-width: 360px) and (max-width: 719px) {
  #container { padding: 30px 0; }
  .content-container { padding: 0 30px; }
}

@media (min-width: 720px) and (max-width: 1139px) {
  #container { padding: 45px 0; }
  .content-container { padding: 0 45px; }
}

@media (min-width: 1140px) {
  #container { padding: 60px 0; }
  .content-container {
    padding: 0 60px;
    width: 750px;
  }
}


/* Header */

#header-container {
  flex: 0 1 auto;
}

#header {
  color: #aaa;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin: -7px 0;
  position: relative;
}

#logo {
  font-size: 22px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  vertical-align: middle;
  letter-spacing: 7px;
  margin: 0 -7px 0 0; /* counteract letter-spacing */
  padding: 0;
  font-family: Liberation Serif, Times New Roman, serif;
}

#logo a {
  color: #444;
}

#logo a:hover {
  color: #888;
}

#city {
  flex: 1;
  margin-left: 27px;
}

#city select {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  padding: 0px 2px;
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
}

#search {
  margin-left: 27px;
}

#search form {
  margin: 1px 0 0 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  position: relative;
}

#search input {
  margin: 0;
  padding: 7px 0 5px 30px;
  height: 31px;
  line-height: 20px;
  vertical-align: middle;
  font-size: 14px;
  font-family: inherit;
  border: 0;
  color: black;
  width: 200px;
  background: transparent;
  border-bottom: 1px solid silver;
}

#search input::placeholder {
  color: #444;
}

#search input:focus {
  outline: none;
  border-bottom-color: black;
}

#search input:focus::placeholder {
  color: transparent;
}

#search input:focus + .icon-search {
  color: black;
}

#search .icon-search {
  color: #444;
  font-size: 16px;
  position: absolute;
  text-align: center;
  left: 0;
  top: 0;
  width: 25px;
  height: 30px;
  line-height: 30px;
  pointer-events: none;
}

#search .icon-close {
  display: none;
}

#search form.active input {
  border-bottom-color: black;
  border-bottom-width: 2px;
  padding-top: 8px;
  padding-right: 30px;
}

#search form.active .icon-search { color: black; }
#search form.active .icon-close { color: black; }

@media (max-width: 719px) {
  #header {
    margin: -10px -12px;
  }

  #logo {
    flex: 1 0;
    line-height: 39px;
    margin: 0 12px;
    letter-spacing: 4px;
    order: 2;
  }

  #city {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 0;
    overflow: hidden;
    order: 1;
    flex: auto 0;
  }

  #city:hover::before {
    color: #888;
  }

  #city::before {
    display: block;
    width: 20px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 9px;
    z-index: -1;

    font-family: 'icons' !important;
    speak: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e902";
    font-size: 26px;
    color: #444;
  }

  #city select {
    opacity: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border: 0;
    cursor: pointer;
  }

  #search {
    order: 3;
    margin: 0 12px;
  }
}

@media (max-width: 484px) {
  #search {
    margin: 0;
    padding: 0;
    order: 3;
  }

  #search form {
    margin: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
  }

  #search .icon-search {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    pointer-events: auto;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  #search .icon-search:hover {
    color: #888;
  }

  #search input {
    display: none;
  }

  #search form.active {
    position: absolute;
    width: auto;
    left: 0;
    top: 0;
    right: 0;
    padding: 0 12px;
    background: white;
  }

  #search form.active .icon-search {
    left: 0;
    height: 38px;
    line-height: 38px;
    cursor: text;
    pointer-events: none;
  }

  #search form.active input {
    display: block;
    padding-left: 40px;
    height: 40px;
    width: 100%;
    cursor: text;
    border-bottom: 2px solid black;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    line-height: initial;
  }

  #search form.active .icon-close {
    display: block;
    font-size: 18px;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
  }

  #search form.active .icon-close:hover {
    color: #888;
  }
}


/* View container */

#view-container {
  position: relative;
  min-height: 140px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

#view-loader-container {
  z-index: 10;
}

#view-loader-container .loader {
  position: fixed;
  top: 50%;
}

@media (max-width: 1139px) {
  #view-loader-container .loader {
    margin-top: -30px;
  }
}

@media (min-width: 1140px) {
  #view-loader-container .loader {
    margin-top: -40px;
  }
}

#view-container > * {
  flex: 1 0 auto;
}

#view-container > *[hidden] {
  display: none;
}

@media (max-width: 359px) {
  #view-container { margin: 20px 0; }
}

@media (min-width: 360px) and (max-width: 719px) {
  #view-container { margin: 25px 0 30px 0; }
}

@media (min-width: 720px) and (max-width: 1139px) {
  #view-container { margin: 35px 0 45px 0; }
}

@media (min-width: 1140px) {
  #view-container { margin: 50px 0 60px 0; }
}


/* Footer */

#footer {
  flex: 0 1 auto;
  color: #444;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}

#footer p {
  margin-bottom: 6px;
}

#footer p:last-child { margin-bottom: 0; }

#footer a { color: #444; }
#footer a .link-text { border: 0; text-decoration: underline; }

.footer-icon {
  margin-right: 5px;
}

#footer .icon-heart {
  font-size: 10px;
  color: red;
}

#footer .icon-octocat {
  color: black;
}

@media (max-width: 450px) {
  #footer {
    text-align: left;
  }
}


/* Not found view */

.not-found-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eee;
}

.not-found-message {
  padding: 30px;
}


.not-found-message a {
  text-decoration: underline;
}

.not-found-message p {
  margin: 0;
}

.not-found-message h1 {
  font-size: 36px;
  margin: 0 0 20px 0;
}

.not-found-message .tagline {
  font-weight: normal;
  font-size: 20px;
}


/* Badges */

.badges {
  display: inline-block;
  white-space: nowrap;
  font-size: 11px;
  margin-top: 8px;
  position: relative;
  top: -3px;
}

.badge {
  border-radius: 2px;
  display: inline-block;
  font-size: 11px;
  color: white;
  padding: 2px 4px;
  vertical-align: baseline;
  font-weight: normal;
  line-height: 11px;
  margin-right: 2px;
}

.festival-badge { background: #ff0000; }
.premiere-badge { background: rgb(130, 130, 130); }

.age-restriction-badge {
  color: #888;
  font-size: 10px;
  border: 1px solid #bbb;
  padding: 1px 2px;
}


/* Events view */

.events-view {
  display: flex;
  flex-direction: column;
}

.events-view .calendar-container { flex: 0 1 auto; }
.events-view .feed-container { flex: 1 0 auto; }


/* Quick calendar */

.quick-calendar {
  list-style-type: none;
  margin: -5px -10px;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.quick-calendar > li {
  padding: 0;
  margin: 0;
  line-height: 1.2;
  position: relative;
  flex: auto;
}

.quick-calendar .custom-date-button {
  border: 0;
  margin: 0;
  padding: 5px 0px;
  background: transparent;
  box-sizing: border-box;
  width: 100%;
  height: 43px;
  line-height: 33px;
  font-size: 22px;
  color: black;
  cursor: pointer;
  outline: none;
}

.quick-calendar .custom-date-button:hover {
  color: gray;
}

.calendar-day.any {
  line-height: 2.4;
}

.calendar-day {
  display: block;
  position: relative;
  padding: 5px 0;
}

.calendar-day.active::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 10px;
  height: 2px;
  background: black;
}

.calendar-day.active {
  cursor: default;
  font-weight: bolder;
}

.calendar-day.active:hover {
  color: black;
}

@media (max-width: 359px) {
  .calendar-container { margin-bottom: 20px; }
}

@media (min-width: 360px) and (max-width: 719px) {
  .calendar-container { margin-bottom: 30px; }
}

@media (min-width: 720px) and (max-width: 1139px) {
  .calendar-container { margin-bottom: 35px; }
}

@media (min-width: 1140px) {
  .calendar-container { margin-bottom: 60px; }
}


@media (max-width: 344px) {
  .quick-calendar > li:nth-child(n+8):not(:last-child) { display: none; }
}

@media (max-width: 400px) {
  .quick-calendar > li:nth-child(n+9):not(:last-child) { display: none; }
}

@media (max-width: 440px) {
  .quick-calendar > li:nth-child(n+10):not(:last-child) { display: none; }
}

@media (max-width: 488px) {
  .quick-calendar > li:nth-child(n+11):not(:last-child) { display: none; }
}

@media (max-width: 526px) {
  .quick-calendar > li:nth-child(n+12):not(:last-child) { display: none; }
}

@media (max-width: 564px) {
  .quick-calendar > li:nth-child(n+13):not(:last-child) { display: none; }
}

@media (max-width: 602px) {
  .quick-calendar > li:nth-child(n+14):not(:last-child) { display: none; }
}

@media (max-width: 640px) {
  .quick-calendar > li:nth-child(n+15):not(:last-child) { display: none; }
}

@media (max-width: 678px) {
  .quick-calendar > li:nth-child(n+16):not(:last-child) { display: none; }
}

@media (max-width: 1139px) {
  .quick-calendar > li:nth-child(n+17):not(:last-child) { display: none; }
}


/* Calendar */

.calendar-box {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 100;
}

.calendar {
  position: relative;
  left: -50%;
  margin-top: 10px;
  background: white;
  font-size: 14px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.15s, opacity 0.15s;
  transform: scale(1);
  transform-origin: center top;
}

.calendar::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -9px;
  top: 0;
  left: 50%;
  box-sizing: border-box;

  border: 6px solid white;

  transform-origin: 0 0;
  transform: rotate(-45deg);

  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.05);
}

.calendar-box[hidden] .calendar {
  opacity: 0;
  transform: scale(0.9);
}

.calendar-inner {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  max-width: 100vw;
}

.calendar .months-container {
  max-width: 252px;
  display: flex;
  flex-direction: row;
  position: relative;  /* so that slider works */
  transition: transform 0.15s;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.calendar .month-item {
  flex: 1 0 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: opacity 0.15s, visibility 0.15s;
}

.calendar .month-item.active {
  height: auto;
  opacity: 1;
  visibility: visible;
}

.calendar-box[hidden] .month-item.active {
  /* Avoid overriding visibility of the calendar on the month item */
  visibility: hidden;
}

.calendar table {
  font-size: 14px;
  padding: 15px 0 20px 0;
  border: 0;
  color: silver;
  width: 100%;
}

.calendar-month-button {
  font-size: 14px;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0 15px;
  color: black;
  cursor: pointer;
  transition: opacity 0.13s;
  position: relative;
  z-index: 2;
  outline: none;
}

.calendar-month-button[hidden] {
  display: block;
  opacity: 0;
  pointer-events: none;
}

.calendar-month-button.previous-button {
  padding-left: 20px;
}

.calendar-month-button.next-button {
  padding-right: 20px;
}

.calendar-month-button:hover {
  color: gray;
}

.calendar th {
  font-weight: bold;
  padding: 10px 0;
  color: black;
}

.calendar .calendar-day {
  display: block;
  padding: 0 0 0 10px;
  line-height: 36px;
  height: 36px;
}

.calendar .calendar-day.today {
  background: rgba(0, 0, 0, 0.08);
}

.calendar .calendar-day.active::after {
  bottom: 4px;
}


@media (max-width: 349px) {
  .calendar-month-button { padding: 0 10px; }
  .calendar-month-button.previous-button { padding-left: 15px; }
  .calendar-month-button.next-button { padding-right: 15px; }
}


@media (max-width: 450px), (max-height: 450px) {
  /* Centered popup on black background on small devices */

  .calendar-box {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .calendar-box[hidden] {
    display: flex;
  }

  .calendar {
    position: static;
    margin: 0;
    transform-origin: center center;
  }

  .calendar::before {
    display: none;
  }

  .calendar .month-item {
    width: 100%;
  }
}


@media (min-width: 451px) and (min-height: 451px) and (max-width: 1139px) {
  /* Right-aligned popup on larger devices */

  .calendar-box {
    top: 100%;
    left: initial;
    right: 0;
  }

  .calendar {
    left: 0;
    transform-origin: right top;
  }

  .calendar::before {
    margin: 0;
    left: initial;
    right: 12px;
  }
}


/* Feed */

.feed-container {
  position: relative;
  margin: 0 auto;
  min-height: 200px;
}

.feed {
  list-style-type: none;
  margin: -30px;
  padding: 0;
  overflow: hidden;
}

.feed-item {
  margin: 30px;
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

.feed-item-link {
  display: block;
}

.feed-image-container {
  width: 100%;
  height: 200px;
  background: silver;  /* for lazyloaded images */
}

.feed-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}

.load-more-container {
  text-align: center;
  position: relative;
}

.load-more-button {
  display: inline-block;
  padding: 20px 30px;
  border: 1px solid gray;
  text-decoration: none;
  background: white;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 0;
}

.load-more-button:hover {
  background: #f5f5f5;
}

.load-more-container .loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

.load-more-container.loading .load-more-button { visibility: hidden; }
.load-more-container.loading .loader { display: block; }

.nothing-at-all {
  font-size: 24px;
  height: 24px;
  line-height: 24px;
  color: gray;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -12px;
}

@media (max-width: 359px) {
  .feed-item { margin: 20px 15px; }
  .load-more-container { margin-top: 20px; }
}

@media (min-width: 360px) and (max-width: 719px) {
  .load-more-container { margin-top: 30px; }
}

@media (max-width: 450px) {
  .feed-container { width: auto; margin: 0; }
  .load-more-button { box-sizing: border-box; width: 100%; }
}

@media (min-width: 451px) and (max-width: 549px) {
  .feed-container { width: 300px; }
}

@media (min-width: 360px) and (max-width: 549px) {
  .feed-item { margin: 30px 15px; }
}

@media (max-width: 549px) {
  .feed {
    margin: 0 -15px;
  }

  .feed-item {
    display: block;
    width: auto;
  }

  .feed-item:first-child {
    margin-top: 0;
  }

  .feed-item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 550px) and (max-width: 719px) {
  .feed {
    margin: -15px;
  }

  .feed-item {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    box-sizing: border-box;
    padding: 15px;
  }
}

@media (min-width: 720px) and (max-width: 1139px) {
  .feed-container { width: 630px; }

  .feed {
    margin: -15px;
  }

  .feed-item {
    margin: 15px;
  }

  .load-more-container { margin-top: 45px; }
}

@media (min-width: 1140px) {
  .feed-container { width: 1020px; }
  .load-more-container { margin-top: 60px; }
}


/* Items */

.feed-item-header-container {
  margin: 20px 0 11px 0;
}

.feed-item-header {
  display: inline;
  margin: 0;
  font-size: 21px;
  line-height: 1.25em;
  margin-right: 5px;
}

.tagline {
  margin: 11px 0;
  line-height: 18px;
}

.tagline p {
  margin: 0;
}

.place {
  margin-top: 14px;
  font-size: 11px;
  color: gray;
  text-transform: uppercase;
  letter-spacing: 0.05ex;
  line-height: 18px;
}

.place a {
  color: #888;
  display: block;
  padding: 2.5px 5px;
  margin: -2.5px -5px;
}

.place a:hover { color: #aaa; }

.place .link-text {
  border-color: #ddd;
}

@media (max-width: 1139px) {
  .feed-item-header-container {
    margin: 14px 0 6px 0;
  }

  .tagline {
    margin: 6px 0;
  }

  .place {
    margin-top: 8px;
  }
}


/* Item */

.item-view {
  position: relative;
}

.item-slider {
  position: relative;
  overflow-x: hidden;
}

.item-slider .slide-button {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 25%;
  height: 100%;
  cursor: pointer;
  -webkit-user-select: none;
  display: none;
}

.item-slider:hover .slide-button {
  display: block;
}

.item-slider:hover .slide-button[hidden] {
  display: none;
}

.item-slider .slide-button span {
  position: absolute;
  top: 50%;
  border-radius: 100%;
  background: white;
  box-sizing: border-box;
  text-align: center;
}

.item-slider.touchable:hover .slide-button {
  display: none;
}

.item-slider .next-button { right: 0px; }
.item-slider .previous-button { left: 0px; }

.item-slide-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  transition: transform 0.25s;
}

.item-slider.touching .item-slide-list { transition: none; }

.item-slide {
  padding: 0;
  margin: 0 15px;
  flex: 0 0 auto;
  background: silver;  /* for lazyloaded images */
}

.item-slide:first-child { margin-left: 0; }
.item-slide:last-child { margin-right: 0; }

.item-slide-image {
  object-fit: cover;
  vertical-align: top;
  height: 100%;
  max-width: 85vw;
}

.big-item-header-container {
  margin: 0 0 20px 0;
}

.big-item-header {
  display: inline;
  margin-right: 5px;
  font-size: 220%;
}

.big-item-tagline {
  margin: 5px 0;
  font-family: Liberation Serif, Times New Roman, serif;
  font-size: 200%;
}

.item-information {
  font-size: 110%;
  margin: 30px 0;
  display: flex;
  flex-direction: row;
}

.item-information-group {
  flex: 1 1 auto;
  margin-right: 20px;
}

.item-information-group:last-child { margin: 0; }

.item-information-item {
  margin: 20px 0;
  line-height: 24px;
}

.item-information-item:first-child { margin-top: 0; }
.item-information-item:last-child { margin-bottom: 0; }

.item-information-icon {
  font-size: 16px;
  width: 16px;
  margin-right: 20px;
  flex: 0 0 auto;
  text-align: center;
  box-sizing: border-box;
  float: left;
  vertical-align: top;
  margin-top: 4px;
}

.item-information-icon.icon-calendar {
  font-size: 14px;
}

.item-information-icon.icon-subway {
  font-size: 14px;
}

.item-information-icon.icon-people {
  font-size: 14px;
}

.item-information-value {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-information-value a {
  display: inline-block;
  padding: 5px 10px;
  margin: -5px -10px;
}

.item-lead {
  font-size: 20px;
}

.item-description {
  font-size: 17px;
  font-family: Liberation Serif, Times New Roman, serif;
}

.item-description img {
  max-width: 100%;
}

.item-description :last-child {
  margin-bottom: 0;
}

.item-place {
  font-weight: bolder;
}

.item-place a {
  padding: 2.5px 5px;
  margin: -2.5px -5px;
}

.item-place .link-text {
  padding-bottom: 1px;
}

.item-place-address-link {
  font-weight: normal;
  font-size: 13px;
}

.item-participants {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: -4px;
}

.item-participants > li:not(:first-child) {
  margin-top: 5px;
}

.item-participants .role {
  display: inline-block;
  vertical-align: text-top;
  width: 90px;
}

.item-participants .agents {
  display: inline-block;
  vertical-align: text-top;
  width: 70%;
}

.item-dates {
  list-style: none;
  padding: 0;
  margin: -6px -12px;
  display: flex;
  flex-flow: row wrap;
  font-size: 17px;
  flex: 0 1 auto;
}

.item-dates > li {
  margin: 6px 12px;
  white-space: nowrap;
  width: 100px;
}

.item-dates > li.double-size {
  width: 224px;
}

.item-date {
  display: inline-block;
  vertical-align: top;
}

.item-day-of-week {
  font-size: 12px;
  color: #333;
  line-height: normal;
}

.item-time {
  font-size: 14px;
  color: #333;
  line-height: 24px;
}

.source-information {
  margin-top: 30px;
  font-size: 12px;
  color: #444;
}

.source-information a { color: #444; }
.source-information a .link-text { border: none; text-decoration: underline; }

@media (max-width: 359px) {
  .item-slider { margin-bottom: 20px; }
  .item-slide { height: 200px; margin: 0 2.5px; }
  .item-slide-image { min-width: 200px; }
}

@media (min-width: 360px) and (max-width: 719px) {
  .item-slider { margin-bottom: 25px; }
  .item-slide { height: 250px; margin: 0 5px; }
  .item-slide-image { min-width: 250px; }
}

@media (max-width: 580px) {
  .item-information {
    flex-direction: column;
  }

  .item-information-group {
    flex-basis: auto;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .item-information-group:last-child { margin: 0; }
}

@media (max-width: 719px) {
  .big-item-header {
    font-size: 180%;
    margin-bottom: 10px;
  }

  .big-item-tagline {
    font-size: 175%;
  }

  .item-information {
    margin: 20px 0;
  }

  .item-information-item {
    margin: 15px 0;
  }

  .item-information-icon {
    margin-right: 15px;
  }

  .item-dates {
    margin: -6px -12px -6px -6px;
  }

  .item-dates > li {
    margin: 6px;
  }

  .item-dates > li.double-size {
    width: 212px;
  }

  .item-slider .slide-button span {
    font-size: 15px;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    line-height: 40px;
  }

  .item-slider .next-button span { right: 7.5px; }
  .item-slider .previous-button span { left: 7.5px; }
}

@media (min-width: 720px) and (max-width: 1139px) {
  .item-slider { margin-bottom: 35px; }
  .item-slide { height: 350px; }
  .item-slide-image { min-width: 350px; }

  .item-slider .slide-button span {
    font-size: 25px;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    line-height: 60px;
  }

  .item-slider .next-button span { right: 22.5px; }
  .item-slider .previous-button span { left: 22.5px; }
}

@media (min-width: 1140px) {
  .item-slider { margin-bottom: 35px; }
  .item-slide { height: 500px; }
  .item-slide-image { min-width: 500px; }

  .item-slider .slide-button span {
    font-size: 35px;
    height: 80px;
    width: 80px;
    top: 50%;
    margin-top: -40px;
    line-height: 80px;
  }

  .item-slider .next-button span { right: 60px; }
  .item-slider .previous-button span { left: 60px; }
}


/* Tabs */

.tabs {
  list-style: none;
  margin: -5px -10px 0 -10px;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-transform: uppercase;
}

.tab {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  position: relative;
  line-height: 2.4;
}

.tab a {
  display: block;
  padding: 5px 10px;
}

.tab.active::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 9px;
  height: 2px;
  background: black;
}

.tab.active a {
  cursor: default;
  font-weight: bolder;
}

.tab.active a:hover {
  color: black;
}

/* Pager */

.pager-nav a {
  cursor: pointer;
}

.pager-pages-slider {
  position: relative;
  overflow: hidden;
}

.pager-pages-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  display: inline-flex;
  flex-direction: row;
  transition: transform 0.25s;
}

.pager-pages-slider.touching .pager-pages-list { transition: none; }

.pager-page {
  width: 100vw;
  height: 0;
}

.pager-page.active {
  height: auto;
}

.pager-page::after {
  /*
  Fix pages not actually becoming 100vw wide on older renderers
  because of blocks with automatic margins inside (.content-container)
  */
  content: ' ';
  width: 100%;
  display: table;
  height: 0;
}

@media (max-width: 359px) {
  .pager-nav { margin-bottom: 15px; }
}

@media (min-width: 360px) and (max-width: 719px) {
  .pager-nav { margin-bottom: 20px; }
}

@media (min-width: 720px) and (max-width: 1139px) {
  .pager-nav { margin-bottom: 25px; }
}

@media (min-width: 1140px) {
  .pager-nav { margin-bottom: 30px; }
}

/* Schedule */

.schedule {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 200px;
}

.schedule-table {
  margin: 0;
  padding: 0;
  border: 0;
}

.schedule-table td {
  vertical-align: top;
}

.schedule-row td { padding-bottom: 15px; }
.schedule-row:first-child td { padding-top: 20px; border-top: 1px silver dotted; }
.schedule-row:last-child td { padding-bottom: 20px; }

.schedule-day-body:first-child td { padding-top: 0; border-top: 0; }
.schedule-day-body:last-child .schedule-row:last-child td { padding-bottom: 0; }

.schedule-date-cell {
  white-space: nowrap;
  padding-right: 20px;
  font-size: 17px;
  line-height: 21px;
}

.schedule-time-cell {
  white-space: nowrap;
  font-size: 15px;
  padding-right: 20px;
  line-height: 21px;
  text-align: right;
}

.schedule-item-title {
  display: inline;
  line-height: 21px;
  font-size: 15px;
  font-weight: bolder;
  margin: 0 3px 0 0;
  padding: 0;
}

.schedule-item-title-container a {
  display: inline-block;
  padding: 5px 10px;
  margin: -5px -10px;
}

.schedule-item-title-container .badges {
  margin: 0;
  top: -1px;
}

.schedule-item-tagline {
  font-size: 14px;
  display: block;
  margin: 8px 0 0 0;
  padding: 0;
}


@media (max-width: 450px) {
  .schedule-table { display: block; }
  .schedule-table tbody { display: block; }

  /* cancel table styles */
  .schedule-row td { padding: 0; }
  .schedule-row:first-child td { padding: 0; border: 0; }
  .schedule-row:last-child td { padding: 0; }

  .schedule-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .schedule-row:last-child {
    margin-bottom: 0;
  }

  .schedule-day-body { padding: 15px 0; border-top: 1px silver dotted; }
  .schedule-day-body:first-child { padding-top: 0; border: 0; }
  .schedule-day-body:last-child { padding-bottom: 0; }

  .schedule-date-cell { margin-bottom: 15px; }
  .schedule-date-cell .item-day { display: inline-block; }
  .schedule-date-cell .item-day-of-week { display: inline-block; }

  .schedule-time-cell { text-align: left; }
  .schedule-time-cell + .schedule-title-cell {
    margin-top: -21px; /* line height */
    margin-left: 48px;
  }
}

@media (min-width: 360px) and (max-width: 450px) {
  .schedule-day-body { padding: 20px 0; }
}


/* Search */

.search-results {
  margin: 0;
  padding: 0;
}

.search-result {
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0;
  overflow: hidden;
}

.search-result:last-child { margin-bottom: 0; }

.search-result-image-container {
  float: left;
  width: 144px;
  height: 96px;
  background: silver;  /* for lazyloaded images */
  margin-right: 20px;
}

.search-result-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}

.search-result-details {
  overflow: hidden;
}

.search-result-header {
  margin: 0 0 12px 0;
}

.search-result-header a {
  display: block;
  padding: 2.5px 5px;
  margin: -2.5px -5px;
}

.search-result-title {
  display: inline;
  font-size: 21px;
  line-height: 1.25em;
  margin-right: 3px;
}

.search-result-title em {
  font-style: normal;
  border-bottom: 3px dotted black;
}

.search-result a:hover em {
  border-bottom-color: gray;
}

.search-result p {
  margin: 0 0 11px 0;
}

.search-result p:last-child { margin-bottom: 0; }

.search-result .meta {
  color: gray;
  text-transform: uppercase;
  letter-spacing: 0.05ex;
  font-size: 11px;
  line-height: 18px;
}

.search-result .meta a {
  color: #888;
  display: block;
  padding: 2.5px 5px;
  margin: -2.5px -5px;
}

.search-result .meta a:hover { color: #aaa; }
.search-result .meta .link-text { border-color: #ddd; }

@media (max-width: 450px) {
  .search-result p:not(.meta) { display: none; }

  .search-result .meta { font-size: 10px; margin-top: 5px; line-height: 16px; }
  .search-result .meta a { pointer-events: none; }
  .search-result .meta .link-text { border: none; }
  .search-result .badge { font-size: 10px; }

  .search-result-image-container {
    width: 72px;
    height: 48px;
  }

  .search-result-title {
    font-size: 18px;
    margin: 0;
  }

  .search-result-title em {
    border-bottom-width: 2px;
  }
}

@media (max-width: 359px) {
  .search-results { margin-top: 5px; }
  .search-result { margin-bottom: 15px; }
  .search-result-image-container { margin-right: 15px; }
}

@media (min-width: 360px) and (max-width: 450px) {
  .search-results { margin-top: 10px; }
  .search-result { margin-bottom: 25px; }
  .search-result-image-container { margin-right: 15px; }
}
